/.idea/
**application.yaml**
**device.json**
**/data/**
**/logs/**
session.token
**/imgtxt/*.png
**/huggingface/*.png
**/huggingface/*.jpeg
**/file/*.yaml
**/*.exe
**/cache/**
!**/cache/*.go
**/codec/**
*.local
**/.vscode/**