name: Publish to github docker

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  artifact_name: mirai-val-bot

on:
  push:
    tags:
      - '*'
    branches:
      - '*'

jobs:
  test_program:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - uses: FedericoCarboni/setup-ffmpeg@v1
      - name: Install dependencies
        run: |
          go mod download
      - name: Run tests
        run: |
          go test -v ./...
  build_image:
    needs: [test_program]
    if: ${{ github.repository_owner == 'sysnapse' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: test_image
          platforms: linux/arm64/v8, linux/amd64
  publish_docker:
    needs: [test_program]
    if: ${{ github.repository_owner == 'eric2788' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            docker.io/${{ secrets.DOCKER_USERNAME }}/${{ env.artifact_name }}
          tags: |
            type=edge
            type=sha,event=branch
            type=ref,event=tag
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm64/v8, linux/amd64