name: Test the program

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


on:
  pull_request:
    branches:
      - '*'

jobs:
  test_program:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: FedericoCarboni/setup-ffmpeg@v1
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: '6.x'
      - name: Install dependencies
        run: |
          go mod download
      - name: Run tests
        run: |
          go test -v ./...